* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* References : https://colorhunt.co/ */
:root {
  --primary: #1363df;
  --secondary: #47b5ff;
  --white: #dff6ff;
  --black: #06283d;
}

body {
  background-color: var(--white);
  color: var(--black);
  position: relative;
}

header {
  display: flex;
  justify-content: center;
  align-items: censter;
  padding: 1rem 0;
  background-color: var(--primary);
  color: var(--white);
}

header h1 {
  text-transform: uppercase;
}

main {
  margin: 1rem;
}

.card {
  background-color: white;
  border-radius: 10px;
  border: 1px solid var(--secondary);
}

.toast {
  position: fixed;
  display: block;
  top: 1rem;
  right: 1rem;
  left: 1rem;
  width: 200px;
  word-break: break-all;
  margin: auto;
  text-align: center;
  padding: 0.5rem 1rem;
  z-index: 999;
  background-color: var(--secondary);
  color: var(--white);
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  border: unset;
}

.toast-success {
  background-color: forestgreen;
}

.toast-info {
  background-color: var(--secondary);
}

.toast-error {
  background-color: red;
}

footer {
  background: var(--primary);
  padding: 16px;
  color: var(--white);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  text-decoration: none;
  font-weight: 900;
  color: var(--secondary);
}
